
@media(min-height: 782px){
   #accordion-main {
       transform: translate(0%, 10%);
    }
}

@media(min-height: 980px) and (min-width: 768px){
   #accordion-main {
       transform: translate(0%, 30%);
    }
}

#body-home{ 
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}